.section {
  width: 600px;
  height: 100%;
  margin: 0 60px 0 0;
  padding-top: 40px;
  padding-left: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  max-height: 756px;
  overflow-y: scroll;
}

