.not-found {
  display: flex;
  align-content: center;
  flex-direction: column;
  min-height: 700px;
  height: 100vh;
  padding: 246px 0 60px;
  box-sizing: border-box;
  background-color: #1C1C21;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 1.21;
  text-align: center;
  margin: 0 auto;
}

.not-found__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21;
  text-align: center;
  margin: 5px auto 184px;
}

.not-found__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #4285F4;
  cursor: pointer;
  transition: 0.2s;
}

.not-found__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .not-found {
    padding: 408px 0 222px;
  }
}

@media screen and (max-width: 767px) {
  .not-found {
    padding: 329px 0 30px;
  }

  .not-found__title {
    font-size: 80px;
  }

  .not-found__subtitle {
    font-size: 12px;
    margin: 10px auto 284px;
  }

  .not-found__link {
    font-size: 12px;
  }
}
